header h1 {
  font-size: 70px;
  font-weight: 600;
  background-image:conic-gradient(#553c9a, #ee4b2b, #00c2cb, #553c9a);

  
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}